p{
	border: 1px solid black;
	background: gold;
	width: 200px;
}
h1{
	border: 1px solid gold;
	background: silver;
	width: 200px;
	font-size: 16px;
}
h2{
	border: 1px solid gold;
	background: green;
	width: 200px;
	font-size: 16px;
}
h3{
	border: 1px solid gold;
	background: blue;
	width: 200px;
	font-size: 16px;
}
h4{
	border: 1px solid gold;
	background: red;
	width: 250px;
	font-size: 16px;
}
h5{
	border: 1px solid gold;
	background: purple;
	width: 250px;
	font-size: 16px;
}
h6{
	border: 1px solid gold;
	background: tomato;
	width: 250px;
	font-size: 16px;
}
div{
	border: 1px solid gold;
	background: yellow;
	width: 250px;
	font-size: 16px;
	margin-bottom: 20px;
}
span{
	border: 1px solid gold;
	background: violet;
	width: 200px;
	font-size: 16px;
}